# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc


# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/*.log
*.bak


/src/Control/log.txt
/src/Data/
/src/Control/log.csv
/src/winder/configuration.xml
/src/winder/Recipes
/src/winder/WebUI/GetFile.bat
/src/winder/Control/version.xml

*,cover
.coverage
htmlcov/
src/winder/Data/*
version.xml
src/winder/WebUI/version.xml
.aider*
Data/Recipes/0AD-94D-1EB0
Data/Recipes/00B-950-DBCA
Data/Recipes/0C1-E48-AD1C
Data/Recipes/00D-2F7-4E1C
Data/Recipes/0E4-C7D-F3D9
Data/Recipes/0E5-FEE-3D9A
Data/Recipes/1A2-7C8-4105
Data/Recipes/1A3-2FA-5F40
Data/Recipes/1FD-A40-1A60
Data/Recipes/2A8-BBC-8A18
Data/Recipes/2CD-909-10AA
Data/Recipes/2D5-AF0-AF17
Data/Recipes/2E0-B2D-F253
Data/Recipes/2FF-B54-2F24
Data/Recipes/3A3-2A4-9CFB
Data/Recipes/3AD-012-502A
Data/Recipes/3C5-375-1C44
Data/Recipes/3CC-DB3-DAF7
Data/Recipes/4A2-32D-F862
Data/Recipes/4D7-757-F0D4
Data/Recipes/4DD-C62-F0CC
Data/Recipes/5BC-0A0-4CC2
Data/Recipes/5D1-70E-D72E
Data/Recipes/5D2-808-BAAB
Data/Recipes/6A1-688-BB4D
Data/Recipes/6DD-9BC-10B4
Data/Recipes/6E4-7B3-5A79
Data/Recipes/7A2-BAB-8A9C
Data/Recipes/7C2-ACB-B034
Data/Recipes/7C7-A22-E60F
Data/Recipes/7C8-BF5-A173
Data/Recipes/7E7-01A-F12D
Data/Recipes/7F4-9DD-B9CB
Data/Recipes/7F9-089-C21F
Data/Recipes/08D-C00-C4C1
Data/Recipes/8E4-8C8-E16F
Data/Recipes/8E5-B64-456D
Data/Recipes/9EE-7E3-6CC5
Data/Recipes/9FD-32C-DE36
Data/Recipes/14A-BB4-836A
Data/Recipes/19A-A55-84CD
Data/Recipes/020-572-38EA
Data/Recipes/22D-4C0-C64A
Data/Recipes/26C-9DC-5519
Data/Recipes/38E-C08-A0BA
Data/Recipes/45F-578-06EE
Data/Recipes/49B-686-9C2D
Data/Recipes/53F-500-DB41
Data/Recipes/61F-908-A7C3
Data/Recipes/65D-0B9-0824
Data/Recipes/70D-693-D326
Data/Recipes/73E-026-0595
Data/Recipes/083-55D-81DC
Data/Recipes/88A-7C3-C27B
Data/Recipes/92B-DAB-F6DD
Data/Recipes/98B-685-ADFE
Data/Recipes/98D-332-8BCE
Data/Recipes/98F-A69-494D
Data/Recipes/118-252-8A88
Data/Recipes/137-1C4-62EE
Data/Recipes/166-ECF-5172
Data/Recipes/189-816-C785
Data/Recipes/205-46C-FA7E
Data/Recipes/236-104-77EB
Data/Recipes/269-44F-D787
Data/Recipes/274-CA9-28D9
Data/Recipes/306-9C4-5252
Data/Recipes/309-CF8-4D93
Data/Recipes/311-16A-3EB6
Data/Recipes/331-02B-C0B8
Data/Recipes/395-D66-029A
Data/Recipes/412-0EF-8D04
Data/Recipes/501-1EF-002C
Data/Recipes/549-A14-AC6C
Data/Recipes/665-685-8A52
Data/Recipes/697-7DC-70CD
Data/Recipes/700-D23-818C
Data/Recipes/782-16C-0857
Data/Recipes/792-DAC-7B1E
Data/Recipes/797-8A8-56EC
Data/Recipes/798-FEB-5A34
Data/Recipes/803-5C4-2D06
Data/Recipes/830-C3D-8609
Data/Recipes/851-D18-F42C
Data/Recipes/888-D19-2125
Data/Recipes/905-329-CD41
Data/Recipes/918-027-E00D
Data/Recipes/944-0AB-DC66
Data/Recipes/951-8B2-EDD8
Data/Recipes/988-A6D-F278
Data/Recipes/A1B-DB7-0CA0
Data/Recipes/A26-A47-AE23
Data/Recipes/A37-057-3DC5
Data/Recipes/A68-C8F-B3E5
Data/Recipes/A69-254-145A
Data/Recipes/AFF-81E-A34A
Data/Recipes/B3D-3A1-8A31
Data/Recipes/B34-DD6-9A25
Data/Recipes/B42-81B-BBEC
Data/Recipes/B43-E9D-7BE2
Data/Recipes/B77-13E-149D
Data/Recipes/B80-6AE-3071
Data/Recipes/B92-B06-1593
Data/Recipes/BA7-3E8-1038
Data/Recipes/BD6-3B8-8B71
Data/Recipes/BE5-BBA-DE89
Data/Recipes/BEC-7FB-4C35
Data/Recipes/C39-211-1C7D
Data/Recipes/C42-BD8-EA98
Data/Recipes/C59-9E1-762E
Data/Recipes/D6C-792-6BA8
Data/Recipes/D6E-55D-CAD7
Data/Recipes/D8D-CB8-E5F0
Data/Recipes/D8E-6D9-1B41
Data/Recipes/D44-308-4F0F
Data/Recipes/D79-3C2-F9AB
Data/Recipes/DAF-BC3-E1FA
Data/Recipes/DB2-19E-8A17
Data/Recipes/DB2-B22-19AF
Data/Recipes/DC4-163-4606
Data/Recipes/DF1-D78-3B18
Data/Recipes/DFD-A51-1E75
Data/Recipes/E1A-4CD-4C6F
Data/Recipes/E6F-DE4-4593
Data/Recipes/E34-426-C53B
Data/Recipes/ECD-927-8433
Data/Recipes/EE3-254-5767
Data/Recipes/F5A-B54-7713
Data/Recipes/F24-253-0D6A
Data/Recipes/F37-285-EBA0
Data/Recipes/F55-46B-361E
Data/Recipes/F58-352-AA0C
Data/Recipes/F69-F26-F2F7
Data/Recipes/FA4-81C-2E81
Data/Recipes/FC1-4A0-009D
Data/Recipes/FC5-B03-A78B
Data/Recipes/FE7-765-859D
Data/APA/Wood APA/Calibration/0BF-36D-317F
Data/APA/Wood APA/Calibration/0D9-037-920C
Data/APA/Wood APA/Calibration/01F-CE3-E924
Data/APA/Wood APA/Calibration/2C0-03B-E6E7
Data/APA/Wood APA/Calibration/2F5-EF6-EA2A
Data/APA/Wood APA/Calibration/4D9-4B9-8EA2
Data/APA/Wood APA/Calibration/6E0-BDA-A82F
Data/APA/Wood APA/Calibration/6E7-630-5BF5
Data/APA/Wood APA/Calibration/7B5-5B7-CB39
Data/APA/Wood APA/Calibration/8CF-985-2D34
Data/APA/Wood APA/Calibration/9A5-1D8-DBCE
Data/APA/Wood APA/Calibration/9EA-731-DEDE
Data/APA/Wood APA/Calibration/9FE-642-AE3D
Data/APA/Wood APA/Calibration/11E-4F1-7A02
Data/APA/Wood APA/Calibration/16D-9C7-5469
Data/APA/Wood APA/Calibration/25C-8E4-70FD
Data/APA/Wood APA/Calibration/056-C76-41EE
Data/APA/Wood APA/Calibration/75A-635-F98D
Data/APA/Wood APA/Calibration/75D-3FD-6FD8
Data/APA/Wood APA/Calibration/83B-245-1E21
Data/APA/Wood APA/Calibration/91C-DC6-17A4
Data/APA/Wood APA/Calibration/94C-263-30D7
Data/APA/Wood APA/Calibration/95A-F76-6F4C
Data/APA/Wood APA/Calibration/111-072-7DF7
Data/APA/Wood APA/Calibration/112-29F-622E
Data/APA/Wood APA/Calibration/119-410-D067
Data/APA/Wood APA/Calibration/132-4EB-0A84
Data/APA/Wood APA/Calibration/140-967-8981
Data/APA/Wood APA/Calibration/143-EBD-D5A7
Data/APA/Wood APA/Calibration/310-9CC-4443
Data/APA/Wood APA/Calibration/371-9E7-4FF8
Data/APA/Wood APA/Calibration/377-77F-3C39
Data/APA/Wood APA/Calibration/387-222-2A45
Data/APA/Wood APA/Calibration/441-905-858F
Data/APA/Wood APA/Calibration/452-052-A4DE
Data/APA/Wood APA/Calibration/525-6AB-D25A
Data/APA/Wood APA/Calibration/582-1BB-6EA8
Data/APA/Wood APA/Calibration/616-402-1F02
Data/APA/Wood APA/Calibration/627-999-0092
Data/APA/Wood APA/Calibration/641-60E-CCF2
Data/APA/Wood APA/Calibration/757-BBC-8165
Data/APA/Wood APA/Calibration/946-6F3-6409
Data/APA/Wood APA/Calibration/959-3D3-3940
Data/APA/Wood APA/Calibration/978-D7A-836C
Data/APA/Wood APA/Calibration/A2A-1A6-DE90
Data/APA/Wood APA/Calibration/A20-6C0-5BB8
Data/APA/Wood APA/Calibration/A44-D9D-495C
Data/APA/Wood APA/Calibration/A59-183-58CD
Data/APA/Wood APA/Calibration/AAD-FD6-38F1
Data/APA/Wood APA/Calibration/AF9-A28-81FC
Data/APA/Wood APA/Calibration/AFE-75F-84F7
Data/APA/Wood APA/Calibration/B8A-3C6-D211
Data/APA/Wood APA/Calibration/B53-C74-F038
Data/APA/Wood APA/Calibration/B91-C2B-CABA
Data/APA/Wood APA/Calibration/BD9-7DA-5645
Data/APA/Wood APA/Calibration/C6B-23F-B804
Data/APA/Wood APA/Calibration/C38-FB2-0C88
Data/APA/Wood APA/Calibration/CC0-242-A984
Data/APA/Wood APA/Calibration/CE0-0AF-F55D
Data/APA/Wood APA/Calibration/D17-F5A-4578
Data/APA/Wood APA/Calibration/D24-C1A-472E
Data/APA/Wood APA/Calibration/D54-CEC-7F75
Data/APA/Wood APA/Calibration/DC0-FC5-905A
Data/APA/Wood APA/Calibration/E3D-D9A-762A
Data/APA/Wood APA/Calibration/E4F-E5B-40F9
Data/APA/Wood APA/Calibration/F3A-561-6C37
Data/APA/Wood APA/Calibration/F07-CC5-E966
Data/APA/Wood APA/Calibration/F48-4FF-4E9A
Data/APA/Wood APA/Calibration/F62-228-702B
Data/APA/Wood APA/Calibration/F68-3E5-E4DA
Data/APA/Wood APA/Calibration/FA7-A28-4C31
Data/APA/Wood APA/Calibration/FBA-26C-8A1B
Data/APA/Wood APA/Calibration/FCD-954-BDBC
Data/APA/Wood APA/Calibration/FDD-72E-6DF6
Data/APA/Wood APA/Calibration/FFA-F36-FE35
Data/APA/US_APA_1/Calibration/75A-635-F98D
Data/APA/US_APA_1/Calibration/757-BBC-8165
Data/APA/US_APA_1/Calibration/BD9-7DA-5645
output_file.txt
testVersion.xml
