#column1
{
  max-width: 300px;
  width: 40%;
  float: left;
}

#column1 article
{
  width: calc( 100% - 20px );
}

div.jog
{
  background: none;
  width: 175px;
  margin: auto;
}

button.jog
{
  height: 50px;
  width:  50px;
  font-size: 200%;
  margin: 2px;
  float: left;
}

#velocitySliderBox
{
  margin-left: 10px;
  margin-bottom: 10px;
  width: 500px;
}

#velocitySlider
{
  width: 85%;
}

#seekX, #seekY, #seekZ, #extendedPosition
{
  width: 3em;
}

#headControlDiv
{
  /*width: 250px;*/
}

#headControlDiv button
{
  width: 80px;
  margin: 2px;
  float: left;
}

