#sideGraphic, #zGraphic
{
  position: relative;
}

#baseImage
{
  margin-top: 75px;
  display: none;
}

#loopImage
{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#headImage
{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#zBaseImage
{
  margin-left: 420px;
  display: none;
}

#zArmImage
{
  position: absolute;
  top: 133px;
  left: 0;
  display: none;
}

#zHeadImage
{
  position: absolute;
  top: 102px;
  left: 0;
  display: none;
}
